@font-face {
	font-family: 'PlayfairDisplay';
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}



@font-face {
	font-family: 'PlayfairDisplay';
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf") format("truetype");
	font-weight: norma;
	font-style: italic;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
	font-weight: norma;
	font-style: norma;
}
