html {
    font-size: 10px;
}

body {
    background-image: linear-gradient(to bottom, #525252 0,  #525252 40px, #fff 40px, #fff 146px,  #525252 146px, #525252 147px,#fff 147px, #fff 229px,#525252 229px, #525252 230px, #fff 230px, #fff 100%);
    background-repeat: no-repeat;
    font-family: AvenirNextCyr, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-size: 1.3rem;    
}

.header__box {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 5%;
}
.header__info {
    align-items: center;
    color: #fff;
    display: flex;    
    height: 40px;
    justify-content: space-between;
}

.header__info-item,
.header__form-search {
    display: flex;
    align-items: center;
}

.header__img {
    width: 2rem;
    margin-right: 10px;
    cursor: pointer;
}

.header__img:hover {
    transform: scale(1.1);
}

.header__container {
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__form-search {
    width: 30%;
}

.header__form-search--down,
.header__goods-basket--down {
    position: relative;
    top: 16px;
}

.header__img--search {
    width: 2.5rem;   
}

.header__search-value {
    border: 0;
    color: #333;
}

.logo {
    filter: invert(1);
    height: 3rem;
}

.goods-basket {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
}

.goods-bascet__counter {
    font-size: 1.4rem;
    transform: translateY(6px);
}

.header__img--not-margin {
    margin: 0;
}

.menu {
    height: 77px;
}

.header__menu-icon {
    display: none;
    width: 2em;
    height: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-right: 10px;  
}

.menu__icon-item {
    width: 100%;
    height: 2px;
    background:#525252;
}

#menu__check {    
    display: none;
}

label {
    width: 2rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
    z-index: 9;
}

.header__menu-icon :nth-child(3) {
    margin-bottom: 5px;
}

.header__menu-icon :nth-child(4) {
    transform: translateY(50%);
}

.header__menu-icon :nth-child(5) {
    transform: translateY(-50%);
    margin-bottom: 5px;
}

#menu__check:checked ~ .menu__icon-item--first {
    display: none;
}

#menu__check:checked ~ .menu__icon-item--second {
    transform: rotate(-45deg) translateY(1px);
    width: 120%;
}

#menu__check:checked ~ .menu__icon-item--third {
    transform: rotate(45deg) translateY(-1px);
    width: 120%;
}

#menu__check:checked ~ .menu__icon-item--fourth {
    display: none;
}

.menu__items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    letter-spacing: 0.1em
}

.menu__item:hover {
    transform: scale(1.1);
}
.header__img:active {
    transform: rotateZ(45deg);
    transition: .5s;
    
}
.menu__item:active {
    text-shadow: 0 0 3px rgb(135, 200, 230);
    
}

.invisible {
    display: none;
}

@media (max-width: 800px) {
    html {
        font-size: 8px;
    }

    body {
        background-image: linear-gradient(to bottom, #525252 0,  #525252 47px, #fff 47px);
        background-repeat: no-repeat;
    }

    .header__info {
        height: 45px;
    }

    .header__container {
        height: 63px;
    }    

    .header__info-text--call-invisible,
    .header__info-item--invisible,
    .header__search-value  {
        display: none;
    }   

    .header__form-search--down,
    .header__goods-basket--down{
        position: inherit;
    }

    .header__menu-icon {
        display: flex;
    }

    .menu__items {
        display: none;
    }

   




}

